* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 1;
    background-color: rgb(121,125,98);
}

#navigation {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgb(140, 110, 90),rgb(150,120,100),rgb(130, 100, 80));
}

#navigation a {
    display: block;
    float: right;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: black;
}

#navigation a:hover {
    background-color: rgb(109, 84, 68);
    color: bisque;
}

main {
    position: relative;
    top: 125px;
    background-color: rgb(241,220,167);
}

#about {
    display:flex;
}

#bio {
    display: block;
    float: right;
    padding-left: 25px;
    border-left: solid black 1px;
    text-indent: 35px;
}

#portrait {
    float: left;
    margin: 0 20px 20px 0;
    border: solid gray 1px;
    border-radius: 15px;
}

#work {
    display:flex;
    flex-wrap: wrap;
}

#work-heading {
    padding-right: 50px;
    border-right: solid black 1px;
}

#work-card {
    flex: 1 0 0;
    float: right;
}

.card {
    display: block;
    float: right;
    padding: 10px;
    background-color: rgb(208,140,96);
    border: solid gray 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px;
}

.card img {
    width: 100%;
    min-width: 400px;
    border: solid gray 1px;
    border-radius: 5px;
}

.card-caption {
    border: solid black 1px;
    background-color: rgb(255,203,105);
    padding-left: 20px;
}

#contact {
    display:flex;
    padding-top: 15px;

}

#contact-heading {
    padding-right: 21px;
    border-right: solid black 1px;
}

#contact-info a {
    display: block;
    float: right;
    position: relative;
    top: 15%;
    padding: 14px 16px;
    color: black;
}

footer {
    position: relative;
    top: 125px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgb(150,120,100);
    text-align: center;
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    
}